*.d
*.gcda
*.gcno
*.la
*.lo
*.o
*.orig
*.patch
*.rej
*.swp
*~
.deps/
.dirstamp
.libs/
.scmversion
CUnit-Memory-Dump.xml
ID
Makefile
Makefile.in
TAGS
aclocal.m4
autom4te.cache/
ar-lib
compile
config.guess
config.log
config.status
config.sub
configure
core
cscope.out
depcomp
doc/output
install-sh
lib/
libtool
ltmain.sh
m4/*.m4
missing
pkgconfig/libodp*.pc
tags
test-driver
