========================================================================
 README for mTCP configuration files
========================================================================

Before starting mTCP applications, please go through the config/*.conf
files. mTCP requires three startup configuration files for correct
execution:
	
	- mtcp.conf (e.g. apps/example/epserver.conf, 
	  	    	  apps/example/epwget.conf)
	  -- This file contains the mtcp configuration parameters for
	     mtcp-detected Ethernet interfaces & mtcp-specific buffer
	     sizes etc. Please go through config/sample_mtcp.conf for
	     more details. By default, an mtcp application searches for
	     this file in the same directory where the binary lies.

	
	- arp.conf
	  -- This file contains the static arp table entries for
	     mtcp. Please see config/sample_arp.conf file for more
	     details. By default, an mtcp application searches for
	     config/arp.conf file in the same directory where the
	     binary lies. An mTCP ARP module (that manages dynamic
	     ARP table entries) is under development.


	- route.conf
	  -- This file contains the static route table entries for
	     mtcp. Please browse through config/sample_route.conf
	     file for more details. By default, an mtcp application
	     searches for config/route.conf file in the same directory
	     where the binary lies.

========================================================================

                   Contact: mtcp-user at list.ndsl.kaist.edu
                             April 2, 2015. 
                 EunYoung Jeong <notav at ndsl.kaist.edu>
		 M. Asim Jamshed <ajamshed at ndsl.kaist.edu>